@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
    background-color: #e6d7bb;
    font-family: 'Fira Code', monospace;
}

.mat-list-item {
    padding: 0.2rem;
    width: 7.4rem;
    height: 7.4rem;
    text-align: center;
    text-decoration: none;
    color: initial;
}

.material-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.item-image {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 64px;
}


.materialview, .materialedit{
    display: flex;
    flex-wrap: wrap;
}
.section.name {
    flex-basis: 100%;
    padding: 0 2rem;
}
.majorsection {
    padding: 0 2rem;
}
.materialview h3 {
    margin-bottom: 0.3rem;
}
.materialview .value {
    color: #d0d;
}
.materialview .edit-container, .materialedit .material-save {
    flex-basis: 100%;
    margin-top: 1em;
}

.materialedit .row-wrapper::after {
    content: "";
    clear: both;
    display: table;
}
.materialedit .row-wrapper .label {
    float: left;
}
.materialedit .row-wrapper .input {
    float: right;
}
.materialedit .section.name .input {
    float: left;
}

.materialedit .input {
    margin-left: 1em;
}